@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Black.woff2') format('woff2'),
        url('../fonts/Poppins-Black.woff') format('woff'),
        url('../fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.woff2') format('woff2'),
        url('../fonts/Poppins-Light.woff') format('woff'),
        url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff'),
        url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body{font-family:'Poppins'}
ul{list-style:none}
input:focus{outline:none}

/* header  */
header{position:fixed;top:0;left:0;right:0;z-index:9;background:#ffff}
body header > div.container-fluid{display:flex;align-items:center;padding:20px 30px}
.middle_nav{display:flex;margin:0;padding:0;margin-left:100px}
.middle_nav > li > button{border:0;background:#f6f7f9;padding:0 18px;line-height:50px;border-radius:8px 0 0 8px;color:#5842c0;font-weight:500;font-size:15px}
.middle_nav > li + li > button{border-radius:0 8px 8px 0}
.search-wrap{position:relative}
.search-wrap > i{position:absolute;font-size:18px;left:16px;top:50%;line-height:20px;color:#5842c0;margin-top:-10px}
.search-wrap > input{border:0;border-radius:8px;background:#f6f7f9;padding:0 14px;line-height:50px;color:#5842c0;font-weight:500;padding-left:44px}
.right_nav{padding:0;margin:0;display:flex;margin-left:auto}
.right_nav > li > ul{padding:0;margin:0;display:flex;background:#f6f7f9;border-radius:8px;padding:0 18px;margin-left:24px;align-items:center;min-height:50px}
.right_nav > li > ul > li + li{margin-left:20px}
.noti_btn{font-size:18px;color:#5842c0}
.user_dropdown{color:#5842c0}
.user_dropdown .dropdown-toggle > img{border-radius:100%;width:34px}
.user_dropdown .dropdown-menu{color:#5842c0}

/* left panel */
aside{position:fixed;left:0;top:90px;height:calc(100vh - 90px);overflow-y:auto;width:240px}
aside ul{padding:0 0 30px;margin:0 8px}
aside ul li{margin-top:8px}
aside ul li.left_label{background:#f6f7f9;padding:8px 20px;text-align:center;color:#656565;border-radius:6px;margin-bottom:15px}
aside ul li a{padding:8px 20px;display:block;border-radius:6px;color:#5842c0;font-size:14px}
aside ul li a:hover,aside ul li a.active{background:#5842c0;color:#ffff;text-decoration:none}
aside ul li a > i{min-width:28px;font-size:18px!important}
aside::-webkit-scrollbar-track{background-color:#F5F5F5}
aside::-webkit-scrollbar{width:6px;background-color:#F5F5F5}
aside::-webkit-scrollbar-thumb{background-color:#959595;border-radius:3px}

/* body content */
.wrapper{padding-top:90px;padding-left:240px}
.main-content{padding:15px 30px}
.chart_nav{padding:0;margin:0;display:flex;justify-content:flex-end;margin-bottom:20px}
.chart_nav > li + li{margin-left:20px}
.commodity-type .dropdown-toggle{color:#fff;border:0;padding:0 14px;line-height:40px;border-radius:5px;background:#c20f72;min-width:180px}
.chart_nav > li + li .dropdown-toggle{background:#5842c0}
.commodity-type .dropdown-menu{background:#c20f72;color:#fff}
.chart_nav > li + li .dropdown-menu{background:#5842c0}
.commodity-type .dropdown-menu > .dropdown-item{color:#fff;text-align:center}
.commodity-type .dropdown-menu > .dropdown-item:hover{color:#fff;background:#ad0964}
.chart_nav > li + li .dropdown-menu > .dropdown-item:hover{background:#3c25a9}



